* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Regular";
    src: url(../Fonts/GeneralSans-Regular.woff2);
}

@font-face {
    font-family: "Heading";
    src: url(../Fonts/GeneralSans-Medium.woff2);
}

.BorderBottomAnimation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.671);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}

.BorderBottomAnimation:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.BlackBorderBottomAnimation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.671);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}

.BlackBorderBottomAnimation:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}




.curser {
    width: 10px;
    height: 10px;
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1); /* Smooth movement */
    pointer-events: none;
    opacity: 0;
    
}






main {
    width: 100%;
    background-color: black;
}

.container {
    width: 94%;
    height: 100%;
    margin: auto;
}

.paddingContainer {
    padding: 0% 3%;
}

.hero {
    width: 100%;
    height: 100dvh;
    color: white;
    font-family: Heading;
    font-weight: 500;
    position: relative;
}

.hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: calc(100vh - 88vh); */
    position: relative;
    height: 12%;
}

.hero nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    pointer-events: auto;
}

.hero nav .LogoContainer {
    position: relative;
    width: fit-content;
    height: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav_manu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 30px;
    width: 400px;
    position: relative;
    overflow: hidden;
}

nav .nav_manu .nav_manu_ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;
    width: 400px;
    opacity: 0;
}

nav .nav_manu .nav_manu_ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}

nav .nav_manu .nav_manu_ul li a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

nav .nav_manu .button {
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
    font-size: 16px;
    font-family: Heading;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding-bottom: 2px;
    height: max-content;
}

nav .nav_manu .button svg {
    width: 14px;
    margin-left: -2px;
    height: inherit;
    fill: rgba(255, 255, 255, 0.253);
}

.hero nav .Dropdown_nav {
    display: none;
}

.hero nav .nav_manu #Responsive_Button {
    display: none;
}

.hero nav .nav_manu #Desktop_Button {
    z-index: 11;
    display: block;
}

.HedingText {
    width: fit-content;
    padding-top: 30px;
    font-weight: 400;
    /* height: calc((100vh - 12vh) - 43vh); */);
    height: 53%;
}

.HedingText h1 {
    font-size: 9vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    opacity: 0.75;
    width: fit-content;
}

.HedingText .HT_bottom {
    margin-left: 1vw;
    overflow: hidden;
}

.HedingText .HT_top {
    overflow: hidden;
}

.HedingText .HT_bottom P {
    text-transform: uppercase;
    text-align: right;
    margin-top: 5px;
    font-size: 1.1vw;
}

.FullTime {
    width: 100%;
    /* margin-top: 100px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* height: calc((100vh - 50vh) - 25vh); */);
    height: 25%;
}

.FullTime h5 {
    font-size: 1.2vw;
    line-height: 25px;
    text-transform: uppercase;
    word-spacing: 4px;
    font-weight: 500;
}

.HeroBottom {
    width: 100%;
    /* height: calc(100vh - 90vh); */
    font-family: Heading;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroBottom ul {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeroBottom ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    width: max-content;
}

.HeroBottom ul li a {
    text-decoration: none;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    gap: 5px;
}

.HeroBottom ul li a .upwork {
    width: 3vw;
    height: 3vw;
    margin-right: 3px;
    opacity: 0.8;
}

.HeroBottom ul li a .fiver {
    width: 3.2vw;
    height: 3.2vw;
    margin-right: 3px;
    opacity: 0.8;
}

.HeroBottom ul li a .freelancer {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 3px;
    opacity: 0.8;
}

.HeroBottom ul li a i {
    width: inherit;
    height: inherit;
    font-size: 1.2vw;
    /* margin-left: 7px; */
    transform: rotate(-25deg);
    transition: all ease-in 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.HeroBottom ul li a:hover i {
    transform: rotate(0deg);
}







.work{
    width: 100%;
    height: 100vh;
    font-family: Heading;
    color: white;
    position: relative;
}
.workContainer{
    width: 100%;
    padding-top: 200px;
    position: relative;
}

.elem{
    width: 94%;
    padding: 3.5vw 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.479);
    
}

.elem h1{
    font-size: 7.5vw;
    opacity: 0.7;
}
.elem h5{
    display: flex;
    justify-content: flex-end;
}

.elem img{
    position: absolute;
}









@media (max-width: 600px) {
    .hero nav .nav_manu #Responsive_Button {
        display: inline-block;
    }

    .hero nav .nav_manu #Desktop_Button {
        display: none;
    }

    .hero nav .nav_manu .nav_manu_ul {
        display: none;
    }

    .hero nav .nav_manu {
        width: 100px;
    }

    .hero nav .Dropdown_nav {
        display: block;
        width: 100%;
        height: 100dvh;
        top: -888px;
        left: 0;
        position: absolute;
        background-color: #a3a3a3;
        color: black;
        padding: 0% 3%;
        font-family: Heading;
        opacity: 1;
        z-index: 10;
    }

    .Dropdown_nav .Dropdown_Head {
        width: 100%;
        height: 78px;
        padding: 27px 1.25rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.466);
    }

    .Dropdown_nav .Dropdown_Head a {
        text-decoration: none;
        color: black;
        font-size: 4vw;
        font-weight: 500;
    }

    .Dropdown_nav .Dropdown_Head #Responsive_crose {
        border: none;
        font-size: 4vw;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 500;
        color: black;
    }

    .hero nav .Dropdown_nav .Dropdown_ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 100px;
        gap: 20px;
    }

    .hero nav .Dropdown_nav .Dropdown_ul li {
        list-style: none;
        width: 100%;
        height: max-content;
        overflow: hidden;
    }

    .hero nav .Dropdown_nav .Dropdown_ul li a {
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10vw;
        color: black;
        /* background-color: brown; */
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: -70px;
    }

    .Dropdown_Footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: inherit;
        padding: 0% 3%;
        margin-bottom: 20px;
    }

    .Dropdown_nav .Dropdown_Top_Social {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.466);
        height: max-content;
        overflow: hidden;
    }

    .Dropdown_nav .Dropdown_Top_Social a {
        text-decoration: none;
        color: black;
        font-size: 4vw;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        top: -40px;
        display: inline-block;
        padding-bottom: 2px;
    }

    .Dropdown_nav .Dro_Footer_bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        font-size: 3vw;
    }

    .HedingText {
    height: 53%;
    }

    .HedingText h1 {
        font-size: 15vw;
    }

    .HedingText .HT_bottom {
        margin-left: 1vw;
    }

    .HedingText .HT_bottom P {
        margin-top: 5px;
        font-size: 2.1vw;
    }

    .FullTime {
        width: 100%;
        height: 25%;
    }

    .FullTime h5 {
        font-size: 2.2vw;
        line-height: 25px;
        word-spacing: 1px;
    }

    .HeroBottom {
        width: 100%;
        height: 10%;
    }

    .HeroBottom ul li {
        padding-bottom: 4px;
    }

    .HeroBottom ul li a {
        font-size: 2.1vw;
        gap: 5px;
    }

    .HeroBottom ul li a .upwork {
        width: 5vw;
        height: 5vw;
        margin-right: 3px;
    }

    .HeroBottom ul li a .fiver {
        width: 5.5vw;
        height: 5.5vw;
        margin-right: 3px;
    }

    .HeroBottom ul li a .freelancer {
        width: 4.5vw;
        height: 4.5vw;
        margin-right: 3px;
    }

    .HeroBottom ul li a i {
        font-size: 2.2vw;
    }
}

@media (max-width: 400px) {
    .hero nav .nav_manu #Responsive_Button {
        display: inline-block;
    }

    .hero nav .nav_manu #Desktop_Button {
        display: none;
    }

    .hero nav .nav_manu .nav_manu_ul {
        display: none;
    }

    .hero nav .Dropdown_nav {
        width: 100%;
        height: 100dvh;
        top: -888px;
        left: 0;
        padding: 0% 3%;
        font-family: Heading;
        z-index: 10;
        display: block;
    }

    .Dropdown_nav .Dropdown_Head {
        width: 100%;
        height: 78px;
        padding: 27px 1.25rem;
    }

    .Dropdown_nav .Dropdown_Head a {
        font-size: 4.8vw;
        font-weight: 500;
    }

    .Dropdown_nav .Dropdown_Head #Responsive_crose {
        font-size: 4.5vw;
    }

    .hero nav .Dropdown_nav .Dropdown_ul {
        width: 100%;
        margin-top: 100px;
        gap: 20px;
        top: -70px;
    }

    .hero nav .Dropdown_nav .Dropdown_ul li {
        width: 100%;
    }

    .hero nav .Dropdown_nav .Dropdown_ul li a {
        width: 100%;
        font-size: 12vw;
    }

    .Dropdown_Footer {
        bottom: 0;
        left: 0;
        padding: 0% 3%;
        margin-bottom: 20px;
    }

    .Dropdown_nav .Dropdown_Top_Social {
        padding-bottom: 24px;
    }

    .Dropdown_nav .Dropdown_Top_Social a {
        font-size: 4vw;
        top: -40px;
    }

    .Dropdown_nav .Dro_Footer_bottom {
        width: 100%;
        margin-top: 24px;
        font-size: 4vw;
    }

    .HedingText {
    height: 53%;
    }

    .HedingText h1 {
        font-size: 18vw;
    }

    .HedingText .HT_bottom {
        margin-left: 1vw;
    }

    .HedingText .HT_bottom P {
        margin-top: 5px;
        font-size: 3.1vw;
    }

    .FullTime {
        width: 100%;
        height: 25%;
    }

    .FullTime h5 {
        font-size: 2.7vw;
        line-height: 25px;
        word-spacing: 1px;
    }

    .HeroBottom {
        width: 100%;
        height: 10%;
    }

    .HeroBottom ul li {
        padding-bottom: 4px;
    }

    .HeroBottom ul li a {
        font-size: 3.1vw;
        gap: 3px;
    }

    .HeroBottom ul li a .upwork {
        width: 7vw;
        height: 7vw;
        margin-right: 0px;
    }

    .HeroBottom ul li a .fiver {
        width: 8.2vw;
        height: 8.2vw;
        margin-right: 0px;
    }

    .HeroBottom ul li a .freelancer {
        width: 6.5vw;
        height: 6.5vw;
        margin-right: 0px;
    }

    .HeroBottom ul li a i {
        font-size: 3vw;
    }
}